Flask>=2.0
Flask-Login
Flask-SQLAlchemy
Werkzeug
numpy==1.26.0
pandas
scipy==1.15.3
scikit-learn
opencv-python
Pillow
matplotlib
seaborn
tensorflow
keras
h5py
torch
gunicorn
python-dotenv
Flask
Flask-Login
Flask-SQLAlchemy
Werkzeug
numpy==1.26.0
pandas
scipy==1.15.3
scikit-learn
opencv-python
Pillow
matplotlib
seaborn
tensorflow
keras
h5py
torch